@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  --main-bg: rgb(20, 20, 20);
  --card-bg: rgb(31, 31, 31);
  --link-bg: rgb(51, 51, 51);
  --text-white: hsl(0, 0%, 100%);
  --text-green: hsl(75, 94%, 57%);
}

body {
  font-size: calc(0.5em + 1vmin);
  background-color: var(--main-bg);
}
